.col {
  width: 20%;
}

.bgImg {
  background-image: url("../assets/img/footer-bg.jpg");
}

.bgGrey {
  background-color: rgb(47, 46, 46);
}

a {
  text-transform: capitalize;
  color: grey;
  font-size: small;
}