.bgBlack {
  background-color: rgb(35, 34, 34);
}

.bgBlue{
  background-color: rgb(21, 122, 237);
}

.bgImg {
  background-image: url(../assets/img/jumbotron.jpg);
  background-size: cover;
  height: 150px;
}

.loadBtn {
  background-color: rgb(32, 123, 243);
  border:rgb(32, 123, 243);
  text-transform: uppercase;
  color: white;
  padding: 5px 10px;
  margin-bottom: 20px;
}


