.bgBlack {
  background-color: rgb(35, 34, 34);
}

.bgBlue{
  background-color: rgb(21, 122, 237);
}

.bgImg {
  background-image: url(../assets/img/jumbotron.jpg);
  background-size: cover;
  height: 150px;
}


