@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Open Sans;
  color: white;
  width: 100%;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
}

.d-flex {
  display: flex;
}

.inline-block {
  display: inline-block;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content:space-between;
}

.justify-content-start {
  justify-content:start;
}


.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.g-20 {
  gap: 20px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.px-40{
  padding-left: 40px;
  padding-right: 40px;;

}

.mb-20{
  margin-bottom: 20px;
}

.logo{
  height: 60px;
}

.footer-up{
  background-image: url(./assets/img/dc-logo-bg.png), url(./assets/img/footer-bg.jpg);
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: right;
}
