* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content:space-between;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.g-20 {
  gap: 20px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}