* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:  sans-serif;
  color: white;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.container {
  width: 100%;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content:space-between;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.g-20 {
  gap: 20px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.px-40{
  padding-left: 40px;
  padding-right: 40px;;

}